

// ion-card {
//     margin: 0.1rem;
//     border-radius: 25px;
//     height: 15vh;
//   }
//   ion-card .card-content {
//     margin: 0;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     color: black
//   }


.icon-item-start {
  margin: 0px;
  margin-left: 15px;
}

.subject-logo-start {
  font-size: 40px;
}

.card {
  margin-left: 0;
  margin-right: 0;
  border-radius: 10px;
}

.testId-item {
  padding: 0;
}

.testId {
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}

.icon-item-end {
  margin: 0px;
  margin-left: 7vw;
}

.subject-logo-end {
  font-size: 40px;
}



