<ion-content class="ion-no-padding">
  <ion-item class="header-item" color="primary" lines="none">
    <ion-label class="ion-margin-start" *ngIf="!subjectName.startsWith('JEE')">{{subjectName}}: </ion-label>
    <ion-label class="ion-margin-start ion-text-align-center" *ngIf="subjectName.startsWith('JEE')">{{subjectName}} </ion-label>
    <ion-label *ngIf="chapters.length == 1 && !subjectName.startsWith('JEE')" class="ion-text-wrap">{{chapterNames[0].chapterName}}</ion-label>
    <ion-label *ngIf="chapters.length > 1 && !subjectName.startsWith('JEE')" class="ion-text-wrap" (click)="showChapters($event)">Selected Chapters:
      <ion-text color="light">
        {{chapterNames.length}}
      </ion-text>
    </ion-label>
  </ion-item>

  <ion-item color="primary" lines="none" style=" margin-top: 5%;">
    <ion-grid class="ion-no-margin ion-no-padding">
      <ion-row *ngIf="!subjectName.startsWith('JEE')">
        <ion-col size="12">
          <ion-item color="primary" class="ion-no-padding">
            <ion-label class="ion-text-center">Test Mode:
              <ion-text class="ion-text-capitalize">
                {{testMode}}
                <ion-text *ngIf="manualType == 'level' && testMode == 'manual'" class="ion-text-capitalize">
                 - Levelwise
                </ion-text>
                <ion-text *ngIf="manualType == 'attempt' && testMode == 'manual'" class="ion-text-capitalize">
                  - Attemptedwise
                </ion-text>
                <ion-text *ngIf="manualType == 'type' && testMode == 'manual'" class="ion-text-capitalize">
                  - Typewise
                </ion-text>
                <ion-text *ngIf="manualType == 'prevAsk' && testMode == 'manual'" class="ion-text-capitalize">
                  - Previously Ask
                </ion-text>
              </ion-text>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item color="primary">
            <ion-label class="ion-text-center ion-text-capitalize">Total Questions: {{questionCount}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item class="ion-no-padding ion-no-margin" *ngIf="testMode=='manual' && manualType == 'level'">
    <ion-grid class="ion-no-margin ion-no-padding">
      <ion-row class="ion-justify-content-center">
        <ion-col push="1">
          <ion-item lines="none" class="ion-no-padding ion-no-margin">
            <ion-label class="ion-text-center ion-text-capitalize">
              Easy: {{cntManual.cntEasy}}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col push="0.5">
          <ion-item lines="none" class="ion-no-padding ion-no-margin">
            <ion-label class="ion-text-center ion-text-capitalize">
              Medium: {{cntManual.cntMedium}}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item lines="none" class="ion-no-padding ion-no-margin">
            <ion-label class="ion-text-center ion-text-capitalize">
              Hard: {{cntManual.cntHard}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item class="ion-no-padding ion-no-margin" *ngIf="testMode=='manual'  && manualType == 'attempt'">
    <ion-grid class="ion-no-margin ion-no-padding">
      <ion-row class="ion-justify-content-center">
          <ion-col push="1">
            <ion-item lines="none" class="ion-no-padding ion-no-margin">
              <ion-label class="ion-text-center ion-text-capitalize">
                Attempted: {{cntManual.cntAtt}}</ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item lines="none" class="ion-no-padding ion-no-margin">
              <ion-label class="ion-text-center ion-text-capitalize">
                Non-Attempted: {{cntManual.cntNonAtt}}</ion-label>
            </ion-item>
          </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item class="ion-no-padding ion-no-margin" *ngIf="testMode=='manual' && manualType == 'type'">
    <ion-grid class="ion-no-margin ion-no-padding">
      <ion-row class="ion-justify-content-center">
          <ion-col push="1">
            <ion-item lines="none" class="ion-no-padding ion-no-margin">
              <ion-label class="ion-text-center ion-text-capitalize">
                Numericals: {{cntManual.cntNum}}</ion-label>
            </ion-item>
          </ion-col>
          <ion-col push="0.5">
            <ion-item lines="none" class="ion-no-padding ion-no-margin">
              <ion-label class="ion-text-center ion-text-capitalize">
                Num New Patt.: {{cntManual.cntNumNew}}</ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item lines="none" class="ion-no-padding ion-no-margin">
              <ion-label class="ion-text-center ion-text-capitalize">
                Theory Que.: {{cntManual.cntTheory}}</ion-label>
            </ion-item>
          </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item class="ion-no-padding ion-no-margin" *ngIf="testMode=='manual' && manualType == 'prevAsk'">
    <ion-grid class="ion-no-margin ion-no-padding">
      <ion-row class="ion-justify-content-center">
          <ion-col>
            <ion-item lines="none" class="ion-no-padding ion-no-margin">
              <ion-label class="ion-text-center ion-text-capitalize">
                Previously Ask: {{cntManual.cntPrevAsk}}</ion-label>
            </ion-item>
          </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item class=" ion-no-margin-bottom" style="margin-top: 5%;" color="primary" lines="none">
    <ion-label class="ion-text-center"> Marking System and Time </ion-label>
  </ion-item>
  <ion-item class="ion-no-margin-top ion-no-padding">
    <ion-label class="ion-text-center">Correct Answer: {{settings.correctMarks}} marks</ion-label>
  </ion-item>
  <ion-item class="ion-no-padding">
    <ion-label class="ion-text-center">In-Correct Answer: -{{settings.inCorrectMarks}} marks</ion-label>
  </ion-item>
  <ion-item class="ion-no-padding">
    <ion-label class="ion-text-center">Total Time: {{settings.time}} minutes</ion-label>
  </ion-item>
  <ion-item lines="none" class="ion-text-center" *ngIf="settings.inCorrectMarks > 0">
    <ion-label>
      <ion-text color="danger">
        Negative Marking
      </ion-text>
    </ion-label>
  </ion-item>


</ion-content>

<ion-toolbar class="footer-item" color="primary">
  <ion-button (click)="onClose()" expand="block" fill="clear" color="light">
    Close
  </ion-button>
</ion-toolbar>