/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// .myClass {
//     --width: 150%;
//     --height: 100%;
// }
.mybutton{
    color: var(--ion-color-success) !important;
}

// .alert-head {
//     background-color: var(--ion-color-success) !important
// }

.alert-title {
  --width: 100%;
  margin: 0px;
}

.myPopOver{
    --height: 100%;
    --width: 92%;
}

.myPopOver1{
    --width: 90%;
}

.myPopOver3{
    --height: 85%;
    --width: 92%;
}

.myToast {
    transform: translateY(280px) !important;
}

.loader {
    --width: 92%;
}
